<%- include('partials/head') %>
<%- include('partials/nav') %>

<body>
    <div class="container">
        <h1>Home Page <%= 3+ 5 %>
        </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias dolore consectetur est molestias fuga nemo
            deleniti optio
            itaque, architecto placeat expedita molestiae unde minima? Voluptate velit aspernatur optio error magni.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias dolore consectetur est molestias fuga nemo
            deleniti optio
            itaque, architecto placeat expedita molestiae unde minima? Voluptate velit aspernatur optio error magni.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias dolore consectetur est molestias fuga nemo
            deleniti optio itaque, architecto placeat expedita molestiae unde minima? Voluptate velit aspernatur optio
            error
            magni.</p>
    </div>
    <%- include('partials/footer') %>